@{
    ViewBag.Title = "About";
}


<div class="span8 funky-header">About Me.</div>
<div class="span6 funky-text">
    My name is Gareth Reid and I am a software developer interested in bioinformatics.
    I have been a software engineer for 10 years and have just completed a Graduate Diploma 
    in bioinformatics and am just about to complete a Masters (finishing by research) <a target="_blank" href="http://www.uq.edu.au/study/program.html?acad_prog=5541">UQ bioinformatics</a>.
</div>
<div class="span6 funky-text">&nbsp;</div>
<div class="span6 italics strong funky-text">This website will follow my endevours to build new tools and systems inline with my medical research and study. I work in the pathology department at the Mater hospital, Brisbane</div>