@{
    ViewBag.Title = "Contact";
}


    <span class="label">Me:</span>
    <div class="span12 "><h3><a href="mailto:Support@example.com" class="label label-primary">Email Me</a>
    <a href="http://www.worthalook.net" target="_blank" class="label label-primary">My (other) website</a></h3></div>


