@{
    ViewBag.Title = "Links";
}


<div class="span7">
    <fieldset><legend>Some papers I wrote</legend>
        <p><a title="Computational Biology" href="../Resources/CompBiol.pdf" target="_blank">Simple Explanation of computational biology and molecular modelling</a></p>
        <p><a title="Cystic Fibrosis" href="../Resources/CysticFibrosis.pdf" target="_blank">Cystic Fibrosis - a genetic analysis</a></p>
        <p><a title="DNA technology" href="../Resources/DiagAndTreatment.pdf" target="_blank">Using DNA tecnology to diagnose and treat disease</a></p>
        <p><a title="molecular dynamics" href="../Resources/Unfolding%20of%20the%20Amyloid%20&beta;-Peptide%20Central%20Helix%20Mechanistic%20Insights%20from%20Molecular%20Dynamics%20Simulations.pdf" target="_blank">Example of molecular dynamics in the treatment of alzeimers -see my website (above menu) for analysis</a></p>
    </fieldset>
    <fieldset><legend>Some other interesting stuff</legend>
        <p><a title="Research Papers and Journals" href="http://www.mendeley.com/groups/2967101/gareth-reid-papers/" target="_blank">Research Papers Group</a></p><p><a title="Research Papers and Journals" href="http://learn.genetics.utah.edu/content/labs/microarray/" target="_blank">Virtual Labs - Micro-arrays</a></p><p><a title="Research Papers and Journals" href="http://learn.genetics.utah.edu/content/labs/gel/" target="_blank">Virtual Labs - Gel Electrophoresis</a></p>
    </fieldset>
</div>
